[module/tray-arrow]
type = custom/text
content = " "

inherit = powerline-templates/right-to-left-item
background = ${pwl.background-tray}
background-next = ${pwl.background-3}
content-background = ${self.background}

[module/updates]
type = custom/script
exec = paru -Qu | wc -l
interval = 3600
label = "  %output% "

inherit = powerline-templates/right-to-left-item
background = ${pwl.background-2}
background-next = ${pwl.background-3}
format-background = ${self.background}

[module/date]
type = internal/date
interval = 1

inherit = powerline-templates/right-to-left-item
background = ${pwl.background-3}
background-next = ${pwl.background-2}
format-background = ${self.background}

date = %b %d
time = %H:%M:%S
label = " %date%  %time% "

[module/cpu]
type = internal/cpu
interval = 1
label = "  %percentage%% "

inherit = powerline-templates/right-to-left-item
background = ${pwl.background-3}
background-next = ${pwl.background-2}
format-background = ${self.background}

[module/os-menu]
type = custom/text
content = "      "

[module/battery]
type = internal/battery
battery = BAT0
adapter = ACAD
full-at = 98

format-background = ${pwl.background-tray}

format-charging = <animation-charging> <label-charging>
format-charging-underline = #ffb52a

format-discharging = <animation-discharging> <label-discharging>
format-discharging-underline = ${self.format-charging-underline}

format-full-prefix = " "
format-full-prefix-foreground = ${colors.foreground-alt}
format-full-underline = ${self.format-charging-underline}

ramp-capacity-0 = 
ramp-capacity-1 = 
ramp-capacity-2 = 
ramp-capacity-foreground = ${colors.foreground-alt}

animation-charging-0 = 
animation-charging-1 = 
animation-charging-2 = 
animation-charging-foreground = ${colors.foreground-alt}
animation-charging-framerate = 750

animation-discharging-0 = 
animation-discharging-1 = 
animation-discharging-2 = 
animation-discharging-foreground = ${colors.foreground-alt}
animation-discharging-framerate = 750

[module/xwindow]
type = internal/xwindow
label = %title:0:30:...%

[module/i3]
type = internal/i3
format = <label-state> <label-mode>
index-sort = true
wrapping-scroll = false

; Only show workspaces on the same output as the bar
;pin-workspaces = true

label-mode-padding = 2
label-mode-foreground = #000
label-mode-background = ${colors.primary}

; focused = Active workspace on focused monitor
label-focused = %index%
label-focused-background = ${colors.background-alt}
label-focused-underline= ${colors.primary}
label-focused-padding = 2

; unfocused = Inactive workspace on any monitor
label-unfocused = %index%
label-unfocused-padding = 2

; visible = Active workspace on unfocused monitor
label-visible = %index%
label-visible-background = ${self.label-focused-background}
label-visible-underline = ${self.label-focused-underline}
label-visible-padding = ${self.label-focused-padding}

; urgent = Workspace with urgency hint set
label-urgent = %index%
label-urgent-background = ${colors.alert}
label-urgent-padding = 2

; Separator in between workspaces
; label-separator = |
