[colors]
background = #EE0e1114
background-alt = %background%
foreground = #fff
foreground-alt = %foreground%
primary = #ffb52a
secondary = #e60053
alert = #bd2c40

[pwl]
background-1 = ${colors.background}
background-2 = #ff4343
background-3 = #4488ff
background-tray = #000000

[fonts]
main-0 = "SF Pro Text:pixelsize=10:weight=medium;2"
main-1 = "Inconsolata for Powerline:pixelsize=15:antialias=true;3"
main-2 = "Font Awesome 5 Free:style=Regular:pixelsize=8;1"
main-3 = "Font Awesome 5 Free:style=Solid:pixelsize=8;1"
main-4 = "Font Awesome 5 Brands:pixelsize=8;1"
main-5 = "JetBrainsMono Nerd Font:pixelsize=10;1"

[config]
height = 20
width = 100%
